
main {
    width: 80%;
    margin: 0px auto;
}

.score-team table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    padding-left: 10px;
    text-align: left;
}

td {
    padding: 8px;
}

.c-b {
    color: black;
    font-weight: bolder;
}
